:root {
  --header: #E6B325;
  --body: #DDDDDD;
}

* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body);
}

.main-container {
  border: solid;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

input {
  height: 30px;
  width: 200px;
  padding-left: 10px;
  cursor: pointer
}

.input-button {
  height: 35px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
  width: 30px;
  border: none;
  background-color: var(--header);
  cursor: pointer;
}